
body {
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #40514E;
}
h1 {
    margin-top: 50px;
    font-size: 5rem;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 20px;
    color: #66BFBF;
}
h2 {
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'PT Serif', serif;
    font-weight: normal;
}

h3 {
    color: #11999E;
}
a {
    color: #11999E;
    text-decoration: none;
    font-weight: bold;
    margin: 30px;
}
.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    margin-bottom: 50px;
}
.middle-container{
}
.bottom-container{
    background-color: #66BFBF;
    padding: 40px 0 40px 0;
    margin: 50px 0 0 0;
    color: #EAF6F6;
    line-height: 2;

}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
    width: 200px;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
    width: 200px;
}
.profile-picture {
    object-fit: cover;
    width: 400px;
    height:400px;
    border-radius: 100%;
}
.skill {
    object-fit: cover;
    width: 200px;
    height:200px;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}
.skills {
    margin-top: 100px;
}
.mountain{
    width: 700px;
}
.skill-row {
    text-align: left;
    line-height: 2;
    margin: 100px auto 100px auto;
    width: 50%;
}
.chemistry {
    float: right;
    margin-right: 0px;
    margin-left: 30px;
}

hr {
    border-style: dotted;
    width: 5%;
    border-width: 0;
    border-top-width: 10px;
    border-color: #EAF6F6
}
.profile{
    margin-bottom: 100px;
}
.contact-me{
    margin-top: 100px;
}

.btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    background-color: #11999E;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    background: #22BFC5;
    border: solid #11999E 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }