
body {
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    margin-top: 0px;
    font-family: 'Dancing Script', cursive;
}
.description {
    font-family: 'PT Serif', serif;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
.middle-container{

}
.bottom-container{

}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;

}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}
.profile-picture {
    object-fit: cover;
    width: 400px;
    height:400px;
    border-radius: 100%;
}
.skill {
    object-fit: cover;
    width: 450px;
    height:450px;
}